.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.posts-nome {
  border: 1px solid black;
}

.posts-imagem {
  border: 1px solid black;
}

.foto-posts {
  border: 1px solid black;
  margin-bottom: 10%;
}
.adiciona-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}