*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 65px;
    background-color: mediumvioletred;
    align-items: center;
}

.container-pai {
    display: flex;
}

.icones {
    height: 25px;
    margin: 0 20px;
}

header button {
    margin-left: auto;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
    width: 25vw;
}

.nav-container {
    display: flex;
    margin-top: 20px;
}

#img-setinha {
    height: 25px;
    margin-left: auto;
    margin-right: 10px;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
}

#img-cards {
    width: 100%;
}

.cards {
    text-align: center;
    box-shadow: 0.1em 0.1em darkgray;

}

footer {
    background-color: mediumvioletred;
    height: 65px;
    text-align: center;
    padding: 20px;
}